node_modules
dist
dist-ssr
*.local
.env
.env.*.local
.vercel
.DS_Store
*.log
npm-debug.log*
.vite

# tsc -b composite build artifacts
vite.config.js
vite.config.d.ts
tsconfig.node.tsbuildinfo
*.tsbuildinfo
